.grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap
}

.grid.column {
    flex-direction: column;
    -webkit-flex-direction: column
}

.grid > .grid-cell {
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-pack: center;
    box-pack: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-align: center;
    box-align: center
}

.grid > .grid-cell.space {
    -webkit-justify-content: space-around;
    justify-content: space-around;
    box-pack: justify;
    -webkit-box-pack: justify
}

.grid > .grid-cell.left {
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-align: start;
    box-align: start
}

.grid > .grid-cell.auto {
    box-flex: auto;
    -webkit-flex: auto;
    flex: auto
}

.grid > .grid-cell.none {
    -webkit-box-flex: initial;
    box-flex: initial;
    -webkit-flex: initial;
    flex: initial
}
