html {
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url("../images/background.png");
    background-size: auto 100%;
}

body {
    background-size: 100% auto;
    padding: 10px 0 20px 0;
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none
}

.logo img {
    width: 100px;
}

.slogan {
    margin-top: 13px;
    text-align: center;
}

.slogan img {
    width: 300px;
}

.title {
    margin-top: 2px;
    text-align: center;
}

.title img {
    width: 393px;
}

.sign {
    text-align: center;
    margin-top: -9px;
}

.sign img {
    width: 230px;
}

.user {
    margin-top: -37px;
    margin-bottom: 10px;
    text-align: center;
}

.user .avatar {
    background-image: url("../images/avatar.png");
    background-size: 100%;
    width: 184px;
    height: 200px;
    display: inline-block;
}

.user .avatar img {
    margin-top: 17px;
    width: 153px;
    height: 153px;
    border-radius: 77px;
}

.user .name {
    margin-top: -1px;
    background-image: url("../images/name.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 160px;
    color: #ffffff;
    letter-spacing: 3px;
    padding: 8px 0;
    display: inline-block;
}

.action {
    margin: 1.2rem 1.5rem 0 1.5rem;
    padding: 2.8rem 0 2.5rem 0;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.action a {
    padding: .8rem 0;
    background-image: url("../images/bg_btn.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #ffe272;
    width: 12rem;
    font-size: 1rem;
    display: inline-block;
}

.live {
    background-image: url("../images/bg_live.png");
}

.info {
    background-image: url("../images/bg_info.png");
}

.vote {
    background-image: url("../images/bg_to_vote.png");
}

.awards-container {
    text-align: center;
    margin-top: 1rem;
}

.awards-container .awards {
    background-image: url("../images/awards.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    color: #fdc42b;
    font-size: 20px;
    width: 332px;
    padding: 30px 0;

}

